// ===================================
// Foundation
// ===================================
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'foundation/variables';

// Reset
@import 'foundation/reset';


// ==============================
// mixin
// ==============================
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@import 'foundation/base';

// ===================================
// Layout
// ===================================
@import 'layout/header';
@import 'layout/footer';


// ===================================
// Object
// ===================================

// Component
@import 'object/component/account';
@import 'object/component/common';
@import 'object/component/header';
@import 'object/component/home';
@import 'object/component/index';
@import 'object/component/login';
@import 'object/component/news';
@import 'object/component/remainder';
@import 'object/component/resetpassword';
@import 'object/component/twitterauth';

// Project
@import 'object/project/header';
@import 'object/project/index';

// Utility
@import 'object/utility/common';

// ===================================
// ページネーション用のスタイル
// ===================================
.pagination {
    display: flex;
    font-size: $font-size_l;
    height: 30px;
    justify-content: center;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $space_l;
    overflow: hidden;
    position: relative;
    width: 420px;

    @include mq() {
      background-color: #f6f5f4;
      font-size: 12px;
      margin-bottom: 80px;
      margin-left: $space_s;
      margin-right: $space_s;
      width: calc(100vw - 10px);
    }
}
.page-item {
    float: left;
    margin-left: $space_m;

    &:first-child {
        margin-left: 0;
    }

    &.active {
        font-weight: bold;
        font-size: $font-size_xl;

        @include mq() {
          font-size: $font-size_default;
        }
    }
}