// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'foundation/variables';

// Reset
@import 'foundation/reset';

// ===================================
// variables
// ===================================
$font-color-default: #555;
$color-base: #fffef9;
$color-main: #105210;
$color-accent: #fde76d;

$site-width: 980px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;
$space_100: 100px;

// ===================================
// Base
// ===================================
@import 'foundation/base';

// ===================================
// TODO　後であるべきファイルに移す
// ===================================

// ===================================
// Layout
// ===================================
.l-header {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    // background-color: $color-base;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    z-index: 2;

    &.is-relative {
        position: relative;
    }
    &.is-absolute {
        position: absolute;
        top: 0;
    }
}

.l-list__container {
    width: 600px;
    position: relative;
    float: right;
    margin-right: $space_s;
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.l-footer {
    background-color: #efefef;
    color: $font-color-default;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 100%;
    // margin-top: $space_3l;
    // position: relative;
}


// ===================================
// Component
// ===================================
.c-header__menu {
  color: $font-color-default;
  text-decoration: none;
  float: left;
  margin-left: $space_xl;
  padding: $space_s;
}

.c-container {
  margin-top: $space_3l;
  background: radial-gradient(#e9e9ff, $color-base);
  box-shadow: 0 10px 10px -3px rgb(161, 159, 197, 0.4);
  transition: .3s;
  
  &:hover {
    transition: .3s;
    box-shadow: 0 10px 10px 10px rgb(161, 159, 197, 0.4);
  }
  
  &__text {
    position: relative;
    width: 920px;
    font-size: $font-size_xxl;
    line-height: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}

.c-register__btn {
  width: 280px;
  height: 84px;
  line-height: 84px;
  font-size: $font-size_xl;
  background-color: #f11414bd;
  color: $color-base;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space_3l;
  border-radius: 15px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  
  &:hover {
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	  transform: translateY(-4px);
  }

  & a {
    padding: 30px;
  }
}

.c-login__title {
  display: block;
  height: 40px;
  line-height: 40px;
  position: relative;
  font-size: $font-size_xxl;
  text-align: center;
  // top: 30px;
  margin-bottom: $space_xl;
  font-family: 'Noto Sans JP', sans-serif;
}

.c-login__container {
  position: relative;
  width: $site-width;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(3, 3, 3, 0.6);
  border-radius: 3px;
  top: 140px;
  color: $color-base;
}

.c-item__container {
  position: relative;
  width: 100%;
  top: 75px;
}

.c-input__container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  // text-align: center;
  margin-bottom: $space_3l;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-login__label {
  width: 150px;
}

.c-login__input {
  width: 380px;
  height: 40px;
  font-size: $font-size_l;
}

.c-remember {
  position: relative;
  width: 70%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__checkbox {
    transform: scale(1.2);
  }

  &__label {
    height: 16px;
    line-height: 18px;
    margin-left: $space_s;
    width: 200px;
  }
}

.c-submit {
  position: relative;
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  left: 2px;
}

.c-background__login {
  background-image: url(../../public/img/hero2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 840px;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  z-index: 1;
}

.c-background__register {
  background-image: url(../../public/img/work_and_coffee.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  z-index: 1;
}

.c-label__forgot {
    color: #efda9a;
    font-size: $font-size_m;
    margin-left: $space_s;
}

.c-base__container {
  position: relative;
  width: $site-width;
  margin-top: 50px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.c-checkbox__area {
  position: relative;
  width: 30%;
  background-color: #f6f5f4;
  float: left;
  min-height: 500px;
}

.c-select-currency {
  margin-top: $space_l;
  margin-left: $space_l;

  &__title {
    display: block;
    font-size: $font-size_l;
    line-height: $font-size_l;
    margin-bottom: $space_xl;
  }
}

.c-trend-ranking {
  position: relative;
  width: 70%;
  float: left;
  min-height: 500px;
  background-color: #f2f2ff;
}


.c-checkbox__container {
  display: block;
  line-height: 30px;

}
.c-checkbox__item {
  font-size: $font-size_default;
}

.c-checkbox__label {
  position: relative;
  // top: 2px;
}


.c-term {


  &__container {
    margin-top: $space_l;
    margin-left: $space_l;
    display: flex;
    justify-content: left;
    font-size: $font-size_l;
    line-height: $font-size_l;
  }

  &__select {
    margin-left: $space_m;
  }
}

.c-selectbox__area {
  position: relative;
  width: 200px;
  height: 28px;
  top: -5px;
  font-size: $font-size_default;
  line-height: $font-size_default;
}

.c-time {
  position: absolute;
  top: 45px;
  right: 10px;
  // bottom: 35px;

  &__label {
    font-size: $font-size_m;
  }
}

.c-currency-table {
  width: 98%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  
  &__header {
    background-color: #f6f5f4;
    height: 28px;
    line-height: 28px;
    text-align: center;

    }
  
  &__title {
    border: 1px solid;
  }

  &__row {
    background-color: #fff;
    height: 28px;
    line-height: 28px;
  }

  &__data {
    border: 1px solid;
    
    &.u-text-center {
      text-align: center;
    }
    
    &.u-text-right {
      text-align: right;
      padding-right: $space_m;
    }
  }
}

.c-button__select {
    padding: $space_s;
    font-size: $font-size_m;
    border-style: none;
    cursor: pointer;
    margin-left: 4px;
    margin-bottom: $space_s;
    
    &.is-all {
        background-color: #5555aa;
        color: #f6f5f4;
        transition: .2s;
        
        &:hover {
            background-color: #36366e;
            transition: .2s;
        }
    }
    &.is-cancel {
        margin-left: $space_m;
        background-color: #a18b28;
        color: #f6f5f4;
        transition: .2s;
        
        &:hover {
            background-color: #584c15;
            transition: .2s;
        }
    }
}

.c-account-list__container {
    width: $site-width;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: $space_m;
}

.c-account-table {
    width: 100%;

    &__header {
        margin-bottom: $space_m;
        background-color: #4aace4;
        color: #f6f5f4;
        height: 28px;
        line-height: 28px;
        text-align: center;
        font-size: $font-size_m;
    }

    &__title {
        padding-right: $space_s;
        border: solid 1px #f6f5f4;
        border-collapse: collapse;

        &:last-child {
            padding-right: 0;
        }
    }

    &__data {
        border: solid 1px #f6f5f4;
        border-collapse: collapse;

        &:last-child {
            border: none;
        }

        &.is-right {
            text-align: right;
            padding-right: $space_m;
            font-size: $font-size_m;
        }
    }

    &__textarea {
        // border-color: #ccc;
        border: solid 1px #f6f5f4;
        border-collapse: collapse;
        color: #555;
        vertical-align: middle;
        box-sizing: border-box;
        width: 100%;
        // border: none;
        background-color: #f6fbff;
        font-size: $font-size_m;
    }
}

.c-button__follow {
    height: 42px;
    margin-left: $space_s;
    text-align: center;
    vertical-align: middle;
    color: #f6f5f4;
    background-color: #4aace4;
    border: none;
    transition: .2s;
    font-size: 10px;
    width:52px;

    &:hover {
        background: #31749b;
        cursor: pointer;
        transition: .2s;
    }
}

.c-button__unfollow {
    height: 42px;
    margin-left: $space_s;
    text-align: center;
    vertical-align: middle;
    color: #f6f5f4;
    background-color: #f09a72;
    border: none;
    transition: .2s;
    font-size: 10px;
    width:52px;

    &:hover {
        background: #ac6c4f;
        cursor: pointer;
        transition: .2s;
    }
}

.c-register-twitter__container {
    width: 600px;
    height: 500px;
    margin-top: $space_100;
    margin-left: auto;
    margin-right: auto;
}

.c-register-twitter-form {
    position: relative;
    width: 60%;
    height: 60%;
    margin-top: $space_3l;
    margin-left: auto;
    margin-right: auto;
    // background-color: #f6f5f4;

    &__label {
        // text-align: center;
        font-size: $font-size_xl;
        margin-bottom: $space_l;
    }
    &__input {
        // display: block;
        // height: 32px;
        // position: relative;
        // margin-left: auto;
        // margin-right: auto;
        width: 81%;
        line-height: 32px;
        font-size: $font-size_default;
    }
    &__submit {
        // display: block;
        // position: relative;
        width: 15%;
        padding: 8px $space_m;
        font-size: $font-size_m;
        background-color: #2b2b36;
        color: #f7f7f7;
        border-style: none;
        transition: .2s;
        &:hover {
            cursor: pointer;
            background-color: #fcf29b;
            color: #363232;
            transition: .2s;
        }
    }
}

.c-news__container {
    width: $site-width;
    margin-top: $space_l;
    margin-left: auto;
    margin-right: auto;
}

.c-news__header {
    display: flex;
    justify-content: stretch;
    border-bottom: solid 3px #777;
    
}

.c-news__label {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: $font-size_l;
    margin-bottom: $space_s;
    width: $site-width;
}
.c-news__item {
    margin-left: $space_m;    

    &--title {
        resize: none;
        white-space: pre;
        overflow-x: auto;
        line-height: 24px;
        font-size: $font-size_default;
        color: #555;
        transition: .2s;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: dotted 1px #36366e;
        
        &:hover {
            cursor: pointer;
            color: #1326cc;
            transition: .2s;
        }
    }
    &--pubdate {
        font-size: $font-size_s;
    }
}
.c-news-page {
    position: relative;
    width: 350px;

    &__label {
        display: inline-block;
    }
    &__button {
        height: 32px;
    }
}

.c-twitter-auth {
    width: $site-width;
    height: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    &__information {
        font-size: $font-size_default;
        line-height: 1.5em;
        color: #555;
        margin-top: 100px;
        margin-bottom: $space_l;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        &--title {
            font-size: $font-size_xl;
            margin-bottom: $space_xxl;
            margin-left: -10px;
            border-bottom: solid 1px #143aaf;
            width: 40%;
            line-height: 1.5em;
        }
    }

    &__submit {
        position: relative;
        width: 82px;
        height: 46px;
        line-height: 46px;
        color: #f6f5f4;
        border-style: none;
        background-color: #4aace4;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: .2s;
        
        &.is-auth {
            background-color: #a1a1a1;
        }

        &:hover {
            background: #33779e;
            cursor: pointer;
            transition: .2s;    
        }
    }

    &__link {
        color: #f6f5f4;
        padding: 15px 7px;
        font-size: $font-size_m;
        font-weight: bold;
        
        &:hover {
            color: #f6f5f4;
        }
    }
}

.c-flash-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(10, 25, 232, 0.6);
    display: none;
    z-index: 2;

    &__text {
        vertical-align: middle;
        text-align: center;
        font-size: $font-size_l;
        color: #efefef;
        line-height: 60px;
    }
}

.c-auto-follow {
  align-items: center;
  display: flex;
  position: relative;
  width: 300px;
  margin-bottom: $space_s;

  &__label {
    font-size: $font-size_m;
  }
  
  &__submit {
    height: 32px;
    border-style: none;
    transition: .2s;

    &:hover {
      cursor: pointer;
      transition: .2s;
    }
    
    &.to-disable {
      background-color: #8d8b8b;
      color: #f6f5f4;

      &:hover {
        background-color: #615e5e;
      }
    }

    &.to-enable {
      background-color: #1822ad;
      color: #f6f5f4;
      
      &:hover {
        background-color: #101774;
      }
    }
  }
  
}

.c-remainder {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    &__label {

    }

    &__input {
        font-size: $font-size_default;
        height: 30px;
        width: 300px;
    }

    &__submit {
        position: relative;
        width: 229px;
        margin-left: auto;
        margin-right: auto;
        margin-top: $space_m;
    }
}

.c-remainder__container {
    position: relative;
    width: 580px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    background-color: #eef6f7;
}

.c-remainder__form {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.c-remainder__title {
    color: #616265;
    font-size: $font-size_default;
    margin-left: 15px;
    position: relative;
    width: 145px;
    background-color: #8eefc6;
    padding: 5px 5px;
    border-radius: 10px;
    text-align: center;
}

.c-reset {
    position: relative;
    margin-left: 50px;
    margin-top: 50px;

    &__label {
        width: 150px;
        display: inline-block;
    }
    &__input {
        font-size: 16px;
        height: 30px;
        width: 300px;
        display: inline-block;
    }
    &__title {
        color: #616265;
        font-size: $font-size_default;
        margin-left: 15px;
        position: relative;
        width: 145px;
        background-color: #8eefc6;
        padding: 5px 5px;
        border-radius: 10px;
        text-align: center;    
    }
    &__input-block {
        margin-bottom: $space_l;
    }
    &__submit {
        margin-left: auto;
        width: 173px;
    }
    &--error {
        color: red;
        display: block;
        font-size: 16px;
        position: absolute;
        top: -30px;
        width: 500px;
    }
}

.c-reset__container {
    position: relative;
    width: 580px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    background-color: #eef6f7;
}

.c-reset__form {
    margin-top: 10px;
    margin-bottom: 10px;
}



// ===================================
// Project
// ===================================
.p-message__item {
  display: block;
  
}

.p-icon__check {
  color: $color-main;
  margin-right: $space_l;
}

.p-appeal__container {
  margin-top: $space_100;
}

.p-hero {
  background-image: url('../../public/img/hero2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  &__title {
    position: relative;
    z-index: 1;
    
    // &.is-left {
    //   font-size: 60px;
    //   text-align: left;
    //   top: 162px;
    //   left: 140px;
    //   font-family: 'Kosugi Maru', sans-serif;
    //   color: #4a4a83;
    //   width: 30%;
    // }
    &.is-center {
      top: 380px;
      color: $color-base;
      font-size: 55px;
      font-family: 'Shadows Into Light', cursive;
      text-align: center;
      font-weight: bold; 
    }
    // &.is-right {
    //   font-size: 60px;
    //   text-align: right;
    //   top: 380px;
    //   right: 200px;
    //   font-family: 'Kosugi Maru', sans-serif;
    //   color: #4a4a83;
    // }
  }

  &-title__contaier {
    position: relative;
  }
}

.p-header__title {
  margin-left: $space_m;
  font-size: $font-size_xl;
  font-family: 'Prompt', sans-serif;
}

.p-appeal {
  position: relative;
  box-sizing: border-box;
  width: $site-width;
  display: flex;
  justify-content: center;
  margin-top: $space_100;

  &:first-child {
    margin-top: 0;
  }

  &.is-left {
    margin-left: $space_100;
  }

  &.is-right {
    margin-right: $space_100;
    margin-left: auto;
  }

  &__title {
    position: absolute;
    top: -7px;
    right: 0;
    font-size: $space_3l;
    font-style: italic;
    color: $font-color-default;

    & .is-red {
      font-size: 80px;
      color: #f11414bd;
    }
  }

  &__image {
    width: 100%;
    border-radius: 3px;
  }

  &__text {
    width: 530px;
    line-height: 1.5em;
    font-size: $font-size_default;
    margin-left: $space_3l;
  }

  &__message {
    display: block;
    margin-top: $space_m;
  }
}

.p-image__container {
  position: relative;
  width: 450px;
  border-radius: 3px;
}

.p-title__icon {
  height: 24px;
  position: relative;
  top: 3px;
}

.p-text__title {
  font-size: $font-size_xl;
  color: #921515;
  font-style: bold;
}


// ===================================
// Utility
// ===================================
.u-margin-top--100 {
  margin-top: 100px;
}

.u-btn__login {
    background-color: #f6f5f4;
    border-style: none;
    font-size: $font-size_m;
    height: 40px;
    line-height: 40px;
    margin-left: 234px;
    transition: .2s;
    width: 80px;

    &:hover {
    background-color: #b3b2b2;
    cursor: pointer;
    transition: .2s;
    }
}

.u-btn__submit {
    height: 30px;
    background-color: #1193bb;
    color: #f6f5f4;
    border-style: none;
    transition: .2s;

    &:hover {
        cursor: pointer;
        background-color: #0b5970;
        transition: .2s;
    }
}

.u-invalid--error {
    color: red;
    display: block;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 32px;
    width: 500px;
}

.u-font-size__12px {
  font-size: 12px;
}

.u-width__192px {
  width: 192px;
}


// ===================================
// ページネーション用のスタイル
// ===================================
.pagination {
    display: flex;
    font-size: $font-size_l;
    height: 30px;
    justify-content: center;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $space_l;
    overflow: hidden;
    position: relative;
    width: 420px;
}
.page-item {
    float: left;
    margin-left: $space_m;

    &:first-child {
        margin-left: 0;
    }

    &.active {
        font-weight: bold;
        font-size: $font-size_xl;
    }
}