// ==================================
// Layout/header
// ==================================
.l-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  // overflow: hidden;
  position: fixed;
  transition: .3s;
  width: 100%;
  z-index: 2;

  &.is-relative {
    // position: relative;
    // top: 0;
  }
  &.is-absolute {
    position: absolute;
    top: 0;
  }
  &.float-active {
    transition: .3s;
    background: rgba(255, 255, 255, 0.9);
  }
}
