.c-remainder {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  &__input {
      font-size: $font-size_default;
      height: 30px;
      width: 300px;
  }

  &__submit {
      position: relative;
      width: 229px;
      margin-left: auto;
      margin-right: auto;
      margin-top: $space_m;

      @include mq() {
        margin-left: initial;
        left: 39px;
      }
  }
}

.c-remainder__container {
  display: flex;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  position: relative;
  width: 580px;
  
  @include mq() {
    padding-top: 100px;
    width: 100%;
  }
}

.c-remainder__form {
  background-color: #eef6f7;
  margin-bottom: 10px;
  width: 100%;
}

.c-remainder__title {
  color: #616265;
  font-size: $font-size_default;
  margin-left: 15px;
  margin-top: $space_m;
  position: relative;
  width: 145px;
  background-color: #8eefc6;
  padding: 5px 5px;
  border-radius: 10px;
  text-align: center;
}
