.c-reset {
  position: relative;
  margin-left: 50px;
  margin-top: 50px;

  @include mq() {
    margin-left: 25px;
  }

  &__label {
      width: 150px;
      display: inline-block;
  }
  &__input {
      font-size: 16px;
      height: 30px;
      width: 300px;
      display: inline-block;
      padding-left: $space_m;
      padding-right: $space_m;
  }
  &__title {
      color: #616265;
      font-size: $font-size_default;
      margin-left: $space_l;
      margin-top: $space_m;
      position: relative;
      width: 145px;
      background-color: #8eefc6;
      padding: 5px 5px;
      border-radius: 10px;
      text-align: center;    
  }
  &__input-block {
      margin-bottom: $space_l;
  }
  &__submit {
      display: block;
      margin-left: 205px;

      @include mq() {
        margin-left: 25px;
        position: relative;
      }
  }
  &--error {
      color: #d83d3d;
      display: block;
      font-size: 16px;
      line-height: 1.2em;
      position: absolute;
      top: -122px;
      width: 500px;

      @include mq() {
        font-size: $font-size_m;
        width: calc(100vw - 35px);
      }
  }
}

.c-reset__container {
  position: relative;
  width: 580px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 150px;
  
  @include mq() {
    padding-top: 100px;
    width: 100%;
  }
}

.c-reset__form {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #eef6f7;
  padding-right: 50px;

  @include mq() {
    padding-right: initial;
  }
}
