.c-reset {
  position: relative;
  margin-left: 50px;
  margin-top: 50px;

  &__label {
      width: 150px;
      display: inline-block;
  }
  &__input {
      font-size: 16px;
      height: 30px;
      width: 300px;
      display: inline-block;
  }
  &__title {
      color: #616265;
      font-size: $font-size_default;
      margin-left: 15px;
      position: relative;
      width: 145px;
      background-color: #8eefc6;
      padding: 5px 5px;
      border-radius: 10px;
      text-align: center;    
  }
  &__input-block {
      margin-bottom: $space_l;
  }
  &__submit {
      margin-left: auto;
      width: 173px;

      @include mq() {
        left: 50px;
        margin-left: initial;
        position: relative;
      }
  }
  &--error {
      color: red;
      display: block;
      font-size: 16px;
      position: absolute;
      top: -30px;
      width: 500px;
  }
}

.c-reset__container {
  position: relative;
  width: 580px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  background-color: #eef6f7;


  @include mq() {
    width: 100%;
  }
}

.c-reset__form {
  margin-top: 10px;
  margin-bottom: 10px;
}
